.landing {
  min-width: 1450px;
}

.block {
  display: flex;
  justify-content: space-between;
}


.nav-panel {
  display: flex;
  height: 26px;
  align-content: space-between;
}

.nav-panel div {
  padding: 0 57px;
  font-size: 20px;
  line-height: 24px;
  height: 26px;
}

.nav-panel a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  display: block;
}

.nav-panel a:hover {
  transform: scale(1.12);
  cursor: pointer;
}
.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
  margin-right: 110px;
}

.account {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.account > ul {
  padding: 12px;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 15px;
}

.account a {
  text-decoration: none;
  margin-left: 20px;
  color: #000000;
}

.account ul {
  background: #FFFFFF;
  list-style: none;
  padding-left: 0px;
  margin: 0;
  max-width: 190px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 17px;
}

.dropdown-text {
  padding-left: 20px;
}

.dropdown li {
  color: #000000;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  padding: 8px 0px;
}

.dropdown li :last-child {
  padding-bottom: 10px;
}

.dropdown li:hover,
.dropdown li:focus-within {
  /*background: linear-gradient(270.31deg, #C90452 0.33%, rgba(115, 90, 154, 0.67) 49.02%, #00CCFA 99.79%);*/
  cursor: pointer;
}

.account li:focus-within a {
  outline: none;
}

ul.dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 195px;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
}

.account ul li:hover > ul,
.account ul li:focus-within > ul,
.account ul li ul:hover,
.account ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.account ul li ul li {
  clear: both;
  width: 100%;
}

.account img {
  height: 20px;
  width: 21px;
  margin-left: 20px;
  margin-bottom: -4px;
}

div.headmain {
  background: linear-gradient(270deg, #C90452 0%, rgba(115, 90, 154, 0.67) 50%, #00CCFA 100%);
  height: 815px;
  /* border-radius: 0 0 50% 50% / 0 0 100px 100px; */
}

.main_image {
  height: 815px;
  width: 700px;
  float: right;
  padding-right: 20px;
}

.maintitle div {
  width: 470.42px;
  height: 164.42px;
  font-weight: 500;
  font-size: 140px;
  line-height: 165px;
  color: #313131;
}

div.maintitle {
  padding-left: 78px;
  padding-top: 85px;
}

.maintitle p {
  width: 581px;
  height: 101px;
  left: 81px;
  top: 459px;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
}

.buttons {

  padding-left: 78px;
  display: flex;
  align-items: center;
  width: 530px;
}

.button_1 {
  font-size: 16px;
  width: 238px;
  height: 75px;
  color: #FFFFFF;
  background: #98F357;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 15px;
  border: none;
  transition: 0.3s;
  display: block;
  margin-right: 45px;
}

.button_2 {
  width: 229px;
  height: 75px;
  color: #FFFFFF;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 15px;
  border: none;
  transition: 0.3s;
  display: block;
}

.button_1:hover, .button_2:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.middlepage {
  padding: 128px 60px 128px 60px;
  margin-left: auto;
  margin-right: auto;
}

.headmiddle {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  font-weight: bold;
  color: #000000;
  padding-left: 40px;
  min-width: 1290px;
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.headmiddle span {
  width: 360.19px;
  height: 93.68px;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
  background: #98F357;
  border-radius: 45px;
  padding: 10px 40px;
}

.sport {
  width: 100%;
  max-width: 1315px;
  margin-left: auto;
  margin-right: auto;
}

.sport img {
  width: 409px;
  height: 585px;
  margin-left: 100px;
  margin-top: -30px;
}

.sport, .sport .text span {
  display: flex;
}

.sport .titletext {
  width: 550px;
  height: 71px;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 88px 0px 25px 150px;
}

.sport .text span {
  font-weight: 300;
  font-size: 19px;
  line-height: 18px;
  padding: 15px;
  margin-left: 138px;
}

.point {
  width: 12px;
  height: 11px;
  background: #98F357;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 3px;
}

.sport .circle1 {
  width: 616px;
  height: 589px;
  border-radius: 50%;
  border: 10px solid rgba(109, 148, 206, 0.329247);
  position: absolute;
  margin-top: 73px;

}

.sport .circle2 {
  background: linear-gradient(180deg, rgba(53, 96, 159, 0.69) 0%, rgba(109, 148, 206, 0.329247) 52.28%, rgba(193, 209, 232, 0.28) 100%);
  width: 544px;
  height: 526px;
  border-radius: 50%;
  margin-top: 156px;
  margin-left: 45px;
}

.body {
  width: 100%;
  max-width: 1315px;
  margin-left: auto;
  margin-right: auto;

}

.body img {
  width: 274.12px;
  height: 598.25px;
  margin-left: 180px;
  margin-top: 47px;
}

.body, .body .text span {
  display: flex;
}

.body .titletext {
  width: 550px;
  height: 71px;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 140px 100px -20px 10px;
}

.body .text span {
  font-weight: 300;
  font-size: 19px;
  line-height: 18px;
  padding: 15px;
}

.body .circle1 {
  width: 644px;
  height: 639.82px;
  border-radius: 50%;
  border: 10px solid rgba(193, 155, 207, 0.67);
  position: absolute;
  margin-top: -70px;
  margin-left: -20px;
}

.body .circle2 {
  background: linear-gradient(180deg, rgba(131, 58, 157, 0.67) 0%, rgba(215, 193, 232, 0.11) 100%);
  width: 568.73px;
  height: 571.38px;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 20px;
}

.types_train {
  padding-left: 20px;
  margin-top: 128px;
}

.types_train .subtitle {
  width: 1290px;
  height: 33px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  width: 100%;
  max-width: 1300px;
  min-width: 1260px;
  margin-left: auto;
  margin-right: auto;

}

.types_train .text {
  width: 600px;
  margin-top: 25px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  max-width: 1290px;
  min-width: 1290px;
  width: 100%;

}

.card {
  width: 276px;
  height: 357px;
  background: #CBEDEF;
  border-radius: 15px 15px 0px 0px;
  margin-top: 20px;
}

.greenline {
  border-radius: 0px 0px 15px 15px;
  background: #98F357;
  width: 276px;
  height: 15px;

}

.card img {
  margin-left: 68px;
  margin-top: 55px;
}

.cards .name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 15px;
}

.cards .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  width: 232px;
  margin-left: 24px;
}

.format {
  background: #E1DEEA;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  padding-bottom: 212px;
}

.format .title {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #000000;
  padding-top: 100px;
  margin-left: -270px;
}

.format .text {
  width: 1116px;
  max-width: 1116px;
  height: 247px;
  background: #FEFDFE;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.12);
  border-radius: 17px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #313131;
  padding: 1px 10px 10px 18px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.format img {
  float: right;
  margin-top: -436px;
}

.footer {
  background: #6A4994;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

footer .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 34px;
  margin-bottom: 30px;
}

footer a {
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
}

.rights {
  font-weight: 400;
  font-size: 10px;
  margin-top: 30px;
  margin-bottom: 2px;
  color: #FFFFFF;
  line-height: 12px;
  text-align: center;
  align-items: center;
  justify-items: center;
  background: #6A4994;
}
