.weight-layout {
    align-content: center;
    align-items: center;
}

.first-layout {
    align-items: center;
    align-content: center;
}

.second-layout {
    align-content: center;
    align-items: center;
}
