<footer style="background: #6A4994; min-width: 1450px; width: 100%">

  <div class="footer">
    <div>
      <div style="font-size: 36px; line-height: 43px; margin-top: 24px; margin-left: -55px;">FITHESS</div>
      <div style="font-size: 26px; line-height: 31px; margin-left: -55px;">TONUS.RU</div>
      <span style=" margin-left: -55px;">All Rights Reserved</span>
    </div>

    <div class="links">
      <div class="title">Ссылки</div>
      <div><a href="">Социальные сети</a></div>
      <div style="margin-top: 11px;"><a href="">Контакты</a></div>
    </div>
    <div class="faq">
      <div class="title">О компании</div>
      <div><a href="usermanual">Пользовательское
        <div>соглашение</div>
      </a></div>
      <div style="margin-top: 11px;"><a href="policy">Политика конфиденциальности</a></div>

    </div>

    <div class="connect">
      <div class="title">Будьте на связи</div>
      <form action="email">vlasenko.ia@inbox.ru</form>
    </div>
  </div>
  <div class="rights">© 2022 Fitness-tonus.ru All rights reserved</div>
</footer>