.whiteShape {
  background: radial-gradient(90% 170px at 50% -45px, #FFFFFF 75%, transparent 75%) no-repeat;
  height: 100px;
  width: 100%;
  margin: 0;
}

.purpleShape {
  background: radial-gradient(90% 170px at 50% -45px, #E1DEEA 75%, transparent 75%) no-repeat;
  height: 100px;
  width: 100%;
  margin: 0;
}

.label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.paragraphInSmallArea {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 0 10px;
  min-width: 300px;
  margin: 20px;
  height: 100%;
  max-width: 850px;
  justify-content: space-around;
}

.titleText {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
}

.title {
  min-width: 300px;
  margin: 20px;
  padding: 0;
  height: 100%;
  max-width: 30%;
}

.photo {
  max-width: 387px;
  width: 387px;
  min-width: 100px;
  height: auto;
  margin: 3%;
  border-radius: 10px;
  object-fit: contain;
  object-position: center;
}

.textBlock {
  padding: 0 5%;
  width: 55%;
  min-width: 55%;
  max-width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.smallTextBox {
  min-width: 200px;
  max-width: 400px;
  padding-bottom: 20px;
}

.no-distance {
  padding: 0;
  margin: 0;
}

.green-button {
  background-color: #98F357;
  width: 30%;
  min-width: 150px;
  height: 45px;
  border-radius: 10px;
  margin: 45px;
  color: #000000;
}

.left-align {
  margin-right: auto;
  margin-top: 50px;
}

.lastPage {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.second_page {
  flex-wrap: wrap;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}