<div class="landing">
  <main>
    <div class="headmain">
      <div class="block">
        <div>
          <div class="maintitle">
            <div>Health</div>
            <div style="margin-top: -40px;">&Fitness</div>
            <p>Следить за здоровьем, быть в отличной форме, заботиться о том,
              чтобы тело было в тонусе и получало регулярные физические
              нагрузки — такой образ жизни выбирают наши клиенты.</p>
          </div>
          <div class="buttons">
            <button onclick="window.location.href = 'registration'" class="button_1">Присоединиться<p style="margin: 0px;">сейчас</p></button>
            <button onclick="window.location.href = 'workouts'" class="button_2">Узнать больше</button>
          </div>
        </div>


        <div>
          <img src="/frontend/homepage/img/main_photo.webp" alt="main_image" class="main_image">
        </div>

      </div>

    </div>


    <div class="middlepage">


      <div class="headmiddle">
        Ключевые возможности для <span>клиентов</span>
      </div>

      <div class="sport">
        <div>
                    <span>
                        <div class="circle1"><img src="/frontend/homepage/img/sport.webp" alt="sport"></div>
                        <div class="circle2"></div>  
                    </span>
        </div>
        <div>
          <div class="titletext">Спорт — это билет в будущее, потому что завтра принадлежит тем, кто готовится к нему
            сегодня
          </div>
          <div class="text">
            <span><div class="point"></div>Личные и групповые чаты</span>
            <span><div class="point"></div>Мобильное приложение</span>
            <span><div class="point"></div>Программа питания</span></div>
        </div>
      </div>

      <div class="body">
        <div>
          <div class="titletext">Ваше тело чувствует то, что вы думаете</div>
          <div class="text">
            <span><div class="point"></div>Доступ к тренировкам с любого устройства</span>
            <span><div class="point"></div>Различные виды тренировок</span>
            <span><div class="point"></div>Последовательное прохождение курса</span>
            <span><div class="point"></div>База знаний и статьи проекта</span>
          </div>
        </div>

        <div>
                    <span>
                        <div class="circle1"><img src="/frontend/homepage/img/body.webp" alt="body"></div>
                        <div class="circle2"></div>  
                    </span>
        </div>

      </div>

      <div class="types_train">
        <div class="subtitle">ЭФФЕКТИВНЫЕ ТРЕНИРОВКИ, АДАПТИРОВАННЫЕ ДЛЯ ЛЮБЫХ УСЛОВИЙ!</div>
        <div class="text">
          Мы предлагаем различные виды тренировок — чередуй силовые
          нагрузки с кардио для максимально быстрого и безопасного похудения.
          Работая в таком режиме, ты параллельно сжигаешь жировые запасы и получаешь заветный рельеф!
        </div>

        <div class="cards">
          <div>
            <div class="card one">
              <img src="/frontend/homepage/img/card1.png" alt="card1" width="140px" height="130px">
              <div class="name">Функциональные</div>
              <div class="text">Нацелены на сжигание подкожного и внутреннего – самого труднодоступного жира.</div>

            </div>
            <div class="greenline"></div>
          </div>

          <div>
            <div class="card two">
              <img src="/frontend/homepage/img/card2.png" alt="card2" width="74.67px" height="150px"
                   style="padding-left: 38px; margin-top: 35px;">
              <div class="name" style="margin-left: 67px;">Стретчинг</div>
              <div class="text">Растяжка мышц и связок – именно то, что нужно для поддержания тонуса мышц!</div>
            </div>
            <div class="greenline"></div>
          </div>

          <div>
            <div class="card three">
              <img src="/frontend/homepage/img/card3.png" alt="card3" width="140px" height="130px">
              <div class="name" style="margin-left: 75px;">Силовые</div>
              <div class="text">Прокачивают мышцы, рисуют красивый рельеф и подтягивают кожу</div>
            </div>
            <div class="greenline"></div>
          </div>

          <div>
            <div class="card four">
              <img src="/frontend/homepage/img/card4.png" alt="card4" width="157px" height="146px"
                   style="margin-top: 38px;">
              <div class="name" style="margin-left: 83px;">Пилатес</div>
              <div class="text">Прорабатывают те мышцы, которые задействованы в повседневной жизни</div>
            </div>
            <div class="greenline"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="format">


      <div class="title">В каком формате проходят тренировки?</div>
      <div class="text">

        <p style="width: 769px;">
          Тренировки проходят в формате видео, на котором фитнес-тренер показывает и объясняет
          технику выполнения упражнений, выполняя их сам. Все движения происходят под счет,
          под повторения голосом тренера. Вам необходимо просто повторять движения за специалистом.
        </p>
        <p style="width: 769px; padding-top: 20px;">
          Тренер сам выполняет все упражнения, которые присутствуют в том или ином комплексе.
          У нас нет такого, что инструктор сказал с экрана: "Делаем 20 раз", а сам стоит
          и ждёт какое-то время.
        </p>
      </div>
      <img src="/frontend/homepage/img/foot_image.webp" alt="foot_img" width="550px" height="auto">
    </div>
  </main>
</div>