.fio {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
}

.email {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.no-distance {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url(../../images/profile/img.png);
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.white_frame {
    flex-direction: column;
    padding: 5% 5% 0;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFFFFF;
}

.avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-upload {
	border: none;
    width: 300px;
}

.work-frame {
    width: 1035px;
    height: 869px;
    left: 235px;
    top: 139px;
}

.line {
    padding: 0;
    width: 84%;
    border-bottom: 9px solid #98F357;
}

.button-save {
    width: 190px;
    height: 47px;
    border-radius: 7px;
    background: #98F357;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.button-cancel {
    width:190px;
    height: 47px;
    border-radius: 7px;
    background: #D0CDCD;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-right: 33px;
}

.centre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.field {
    min-width: 300px;
    height: 60px;
    max-width: 400px;
    width: 30%;
    margin: 3% 7%;
}

.user-form {
    margin-left: 10%;
    display: flex;
    margin-right: auto;
    margin-bottom: 5%;
}

.text-block {
    margin-left: 5%;
    padding-left: 80px;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 300px;
    min-width: 216px;
}

.button-frame {
    flex-direction: row;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}
