.green-button {
  background-color: #98F357;
  width: 25%;
  min-width: 200px;
  height: 90px;
  border-radius: 10px;
  color: #000000;
}

.white-button {
  background-color: #E5E5E5;
  width: 25%;
  min-width: 200px;
  height: 90px;
  border-radius: 10px;
  color: #000000;
}

.button-text {
  width: 20%;
  min-width: 190px;
  height: 90px;
  padding: 5px;
  margin: 0;
}

.background {
  background-color: #E1DEEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-bg {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 15px solid #DAD4EE;
  border-radius: 10px;
  width: 100%;
  background: #FFFFFF;
  min-width: 400px;
}

.left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  min-width: 400px;
}

.photo {
  max-height: 402px;
  min-height: 100px;
  width: auto;
  border-radius: 10px;
  margin: 0;
}

.photoBox {
  max-height: 402px;
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 601px;

  margin-top: 40px;
  margin-bottom: 40px;
}

.no-distance {
  padding: 0;
  margin: 0;
}

.v-button-multiline .v-button-caption {
  white-space: normal;
  line-break: normal;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}