.background {
    background-color: #E1DEEA;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-form {
    margin-left: 10%;
    width: 391px;
    font-family: Montserrat, sans-serif;
}

.buttons-authentication {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrate-button {
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    line-height: 20px;
    color: #000000;
    height: 31px;
    border: none;
    background-color: transparent;
}

.registered-button {
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    line-height: 20px;
    color: #000000;
    height: 31px;
    border: none;
    margin-left: auto;
    margin-right: 15%;
    background-color: transparent;
}

.forget-password-button {
    font-weight: 300;
    margin-right: 45px;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    color: #000000;
    height: 31px;
    border: none;
    background-color: transparent;
}

.registration-button {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background: #A992E4;
    border-radius: 5px;
    margin-top: 38px;
    width: 389px;
    height: 44px;
    color: #FFFFFF;
}

.form {
    width: 100%;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-background {
    width: 90%;
    background-color: #FFFFFF;
    border: 15px solid #DAD4EE;
    border-radius: 10px;
}

.image {
    width: 50%;
    height: 100%;
}

.text {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 600;
}