.video-panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 15px solid #DAD4EE;
    border-radius: 10px;
    padding: 4px 50px;
}

.video-container {
    width: auto;
    height: auto;
    outline: 1px dotted blue;
    position: fixed;
    display: block;
}

.video-controls {
    overflow: auto;
}

.prev-button {
    float: left;
}

.next-button {
    float: right;
}

.play-button {
    float: left;
}

.volume-slider {
    float: left;
    color: #DAD4EE;
    -webkit-appearance: none;
}

.video-player {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}